.card-pricing-container{
	position: absolute;
	bottom:0px;
	left: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 70px;
	background-color: rgba(0,0,0,0.8);
	border-radius: 0.9rem 0 0 0;
	padding: 10px;
	color: antiquewhite;
	padding: 0.5rem;
}

.card-pricing-value{
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.game-price{
	font-size: 16pt;
}
span{
	font-weight: bolder;
	color:aqua;
	margin-right: 10px;
}
