.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 4rem;

    background-color: #ffffff;
    box-shadow: 1px 6px 8px -3px rgba(255, 254, 254, 0.64);
    padding-left: 1rem;
    padding-right: 1rem;

}
.sony-logo{
    width: auto;
    height: 30px;
}
.container-image{
    width: 350px;
}
.container-image > img{
    width: 200px;
    height: auto;
}
.container-items{
    display: flex;
    height: 100%;
    width: 350px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.container-items > ul{
    display: flex;
    gap: 1rem;
    align-items: center;
}
li{
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
    list-style: none;
}

li:hover{
    color:rgb(51, 51, 237);
    cursor:pointer;
    transition: all 0.4s;
}
.container-sony-logo{
    display: flex;
    justify-content: flex-end;
    width: 350px;
}