<section>
    <app-card
        gameCover="assets/ac-cover.jpg"
        gameLabel="DIGITAL"
        gameType="DIGITAL|PS4"
        gamePrice="R$ 299,99"
    >
    </app-card>
    <app-card
        gameCover="assets/bt-5.jpg"
        gameLabel="EXCLUSIVE"
        gameType="DIGITAL|PS3"
        gamePrice="R$ 199,99"
    >
    </app-card>
    <app-card
        gameCover="assets/bt-4.jpg"
        gameLabel="DIGITAL"
        gameType="DIGITAL|PS4"
        gamePrice="R$ 359,99"
    >
    </app-card>
</section>


